BODY {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, helvetica, sans serif
}
P.section {
	MARGIN-TOP: 15px
}
.logo {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; 
	COLOR: #ffffff; FONT-FAMILY:dotum,arial, verdana, helvetica, sans serif
}
.text {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY:arial, verdana, helvetica, sans serif
}
.text A:Link {
	FONT-SIZE: 12px; 
	COLOR:#C9790E; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.text A:Visited {
	FONT-SIZE: 12px; 
	COLOR:#C9790E; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; 
	COLOR: #000000; FONT-FAMILY:arial, verdana, helvetica, sans serif
}
.menuselected {
	FONT-SIZE: 12px; 
	COLOR: #000000; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	BACKGROUND: #FFFFFF
}
.menuseparator {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px; 
	COLOR: #ffffff; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none;
	BACKGROUND: #c9790e
}
.menutext {
	FONT-SIZE: 12px; 
	COLOR: #C9790E; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none;
	BACKGROUND: #FFFFFF
}
.menutext A {
	FONT-SIZE: 12px; 
	COLOR: #c9790e; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menutext A:Active {
	FONT-SIZE: 12px; 
	COLOR: #c9790e; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menutext A:Hover {
	FONT-SIZE: 12px;
	COLOR: #c9790e;
	FONT-FAMILY: arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menutext A:Link {
	FONT-SIZE: 12px; 
	COLOR:#cc982d; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.menutext A:Visited {
	FONT-SIZE: 12px; 
	COLOR: #c9790e; 
	FONT-FAMILY:arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.sctitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; 
	COLOR: #000000; FONT-FAMILY:arial, verdana, helvetica, sans serif
}
.sctext {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY:arial, verdana, helvetica, sans serif
}
.tablehead {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: arial, verdana, helvetica, sans serif; 
	BACKGROUND-COLOR: #c9790e; 
	TEXT-DECORATION: none
}
.tablesubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: arial, verdana, helvetica, sans serif; BACKGROUND-COLOR: #c9790e; TEXT-DECORATION: none
}
.tabletext {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, verdana, helvetica, sans serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.pagehead {
	FONT-WEIGHT: bold;
	FONT-SIZE: 17px;
	COLOR: #C9790E;
	FONT-FAMILY: arial, verdana, helvetica, sans serif
}
.pagehead A {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #C9790E;
	FONT-FAMILY: arial, verdana, helvetica, sans serif;
	TEXT-DECORATION: none
}
.pagehead A:Active {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	COLOR: #228822; 
	FONT-FAMILY: arial, verdana, helvetica, sans serif; 
	TEXT-DECORATION: none
}
.pagehead A:Visited {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	COLOR: #228822; 
	FONT-FAMILY: arial, verdana, helvetica, sans serif; 
	TEXT-DECORATION: none
}
.pagesubhead {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: arial, verdana, helvetica, sans serif;
	text-align : center;
}
.langbar {
	FONT-SIZE: 12px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: verdana, helvetica, sans serif;
	BACKGROUND: #c9790e;
}
.footer {
	FONT-SIZE: 10px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: verdana, helvetica, sans serif;
	BACKGROUND: #C9790E;
}
.footnote {
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	FONT-FAMILY: arial,verdana,helvetica,sans serif;
}
.footnote A:Active {
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	FONT-FAMILY: arial,verdana,helvetica,sans serif;
	TEXT-DECORATION: none
}
.footnote A:Visited {
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	FONT-FAMILY: arial,verdana,helvetica,sans serif;
	TEXT-DECORATION: none
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: verdana, helvetica, sans serif
}
.table {
	FONT-SIZE: 8.5pt; COLOR: #000000; FONT-FAMILY: verdana, helvetica, sans serif
}
LI {
	MARGIN-LEFT: 0px;
}